[submodule "foreman-installer"]
	path = foreman-installer
	url = git://github.com/theforeman/foreman-installer.git
[submodule "java"]
	path = java
	url = git://github.com/puppetlabs/puppetlabs-java
[submodule "activemq"]
	path = activemq
	url = git://github.com/puppetlabs/puppetlabs-activemq
[submodule "puppetdb"]
	path = puppetdb
	url = git://github.com/puppetlabs/puppetlabs-puppetdb
[submodule "inifile"]
	path = inifile
	url = git://github.com/puppetlabs/puppetlabs-inifile
[submodule "mcollective"]
	path = mcollective
	url = git://github.com/puppetlabs/puppetlabs-mcollective
