[submodule "foreman-installer"]
	path = foreman-installer
	url = git://github.com/theforeman/foreman-installer.git
[submodule "java"]
	path = java
	url = git://github.com/puppetlabs/puppetlabs-java
[submodule "activemq"]
	path = activemq
	url = git://github.com/puppetlabs/puppetlabs-activemq
[submodule "puppetdb"]
	path = puppetdb
	url = git://github.com/puppetlabs/puppetlabs-puppetdb
[submodule "inifile"]
	path = inifile
	url = git://github.com/puppetlabs/puppetlabs-inifile
[submodule "mcollective"]
	path = mcollective
	url = git://github.com/puppetlabs/puppetlabs-mcollective
[submodule "mount_providers"]
	path = mount_providers
	url = git://github.com/puppetlabs/puppetlabs-mount_providers.git
[submodule "augeasproviders"]
	path = augeasproviders
	url = git://github.com/hercules-team/augeasproviders.git
[submodule "mcollective-plugins"]
	path = mcollective-plugins
	url = git://github.com/puppetlabs/mcollective-plugins.git
